*.log
.DS_Store
node_modules
dist

# Files / Folders created by the testing
coverage
diff_report_*
translations_*
test.xlsx.xlsx

# Files / Folder for the website
/website/.docusaurus
/website/build
/website/backers.json
/website/node_modules
/website/yarn.lock